<%
var source = "", destination = "", date = "";
if (typeof journey != 'undefined') {
    if (journey.source) {
        source = journey.source;
    }
    if (journey.destination) {
        destination = journey.destination;
    }
    if (journey.date) {
        date = journey.date.toDateString();
    }
}
if(typeof vehicles == 'undefined')
    vehicles = "";
%>
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="msapplication-tap-highlight" content="no">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="theme-color" content="black">

    <title>Transit</title>

    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">

    <link type="text/css" rel="stylesheet" href="/css/materialize.css">
    <link type="text/css" rel="stylesheet" href="/css/animate.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        @media only screen and (max-width: 990px) {
            html, body {
                background-color: #000000;
                color: #ffffff;
            }
        }
        @media only screen and (min-width: 992px) {
            html {
                background-image: url("/images/bg_ashoka.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
                color: #ffffff;
            }
        }
        th {
            text-align: center;
        }

        .card-padding {
            padding-top: 5% !important;
            padding-bottom: 5% !important;
        }

        .button-availability:hover {
            content: 'ADD';
        }
    </style>
</head>
<body>

    <nav class="navbar-fixed blue darken-4 z-depth-2 ">
        <div class="nav-wrapper">
            <a class="brand-logo"> &nbsp;Transit</a>
            <a data-activates="mobile-side-menu" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/user/vehicles/add">Add Vehicle</a></li>
                <li><a href="/user/bookings">My Bookings</a></li>
                <li><a href="/user/edit">My Profile</a></li>
                <li><a href="/user/vehicles">My Vehicles</a></li>
                <li class="active"><a href="/vehicles">See Available Seats</a></li>
                <li><a href="/authentication/logout">Sign Out</a></li>
            </ul>
        </div>
    </nav>
    <ul class="side-nav black-text" id="mobile-side-menu">
        <li><a href="/user/vehicles/add">Add Vehicle</a></li>
        <li><a href="/user/bookings">My Bookings</a></li>
        <li><a href="/user/edit">My Profile</a></li>
        <li><a href="/user/vehicles">My Vehicles</a></li>
        <li class="active"><a href="/vehicles">See Available Seats</a></li>
        <li><a href="/authentication/logout">Sign Out</a></li>
    </ul>

<main>
    <div class="section"></div>

    <div class="row animated bounceInDown">
        <div class="section hide-on-small-and-down"></div>
        <h4 class="center">See Available Seats</h4>
        <div class="section hide-on-small-and-down"></div>
        <div class="col l7 m5 push-l2 s12">
            <table class="center">
                <thead>
                <tr>
                    <th>Availability</th>
                    <th colspan="3">From <%= source %> to <%= destination %> on <%= date %></th>
                </tr>
                </thead>
                <tbody>
                <%
                var departure_time = "", seats_left = "", confirmed_seats=0;
                total_vehicles = vehicles.length;
                for(var loop1 = 0; loop1 < total_vehicles; loop1++){
                    confirmed_seats = 0;
                %>
                <tr>
                    <td>
                        <%
                            //to calculate total occupied seats in a vehicle
                            for(var passengerIndexLoop=0; passengerIndexLoop< vehicles[loop1].passengers.length; passengerIndexLoop++){
                                if(vehicles[loop1].passengers[passengerIndexLoop].status === "Confirmed"){
                                    confirmed_seats++;
                                }
                            }
                            seats_left = vehicles[loop1].total_seats - confirmed_seats;
                        if(seats_left < 0){
                            //seats_left = 0;
                        %>
                        <a class="btn-floating btn-large waves-effect waves-light red button-availability"
                           data-vehicle-id="<%= vehicles[loop1]._id %>"
                           data-availability="<%= seats_left %>"><%= seats_left %></a>
                        <% }else{ %>
                        <a class="btn-floating btn-large waves-effect waves-light green button-availability"
                           data-vehicle-id="<%= vehicles[loop1]._id %>"
                           data-availability="<%= seats_left %>"><%= seats_left %></a>
                        <% } %>
                    </td>
                    <td>
                        <div class="card-panel blue card-padding">
                            <%= vehicles[loop1].vehicle_identification %>
                        </div>
                    </td>
                    <td>
                        <div class="card-panel blue card-padding">
                            <%
                                //preparing time format
                                if (String(vehicles[loop1].departure_time).length > 0) {
                                    departure_time = new Date(vehicles[loop1].departure_time).toISOString().split("T")[1].split(":").slice(0, 2);
                                    departure_time = String(departure_time).replace(",", ":");
                                }
                            %>
                            <%= departure_time %>
                        </div>
                    </td>
                    <!--<td>
                        <div class="card-panel blue card-padding">
                            BOOK
                        </div>

                    </td>-->
                </tr>
                <% } %>

                </tbody>
            </table>
        </div>
    </div>
    <form method="post" action="/user/bookings/add" id="book_seat_form">
        <input id="vehicle_id" name="vehicle_id" hidden>
    </form>

</main>
</body>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $(".button-collapse").sideNav();
    });

    var availability_seats_page = {};
    availability_seats_page.availability_buttons = document.getElementsByClassName("button-availability");
    //loop to toggle between '+' sign and number of seats available on mouseover event
    for (var loop1 = 0; loop1 < availability_seats_page.availability_buttons.length; loop1++) {
        //ui changes
        availability_seats_page.availability_buttons[loop1].addEventListener("mouseenter", function () {
            this.innerHTML = "<i class=\"material-icons\">add</i>";
        });
        availability_seats_page.availability_buttons[loop1].addEventListener("mouseleave", function () {
            this.innerHTML = this.getAttribute("data-availability");
        });
        //form
        availability_seats_page.availability_buttons[loop1].addEventListener("click", function () {
            document.getElementById("vehicle_id").value = this.getAttribute("data-vehicle-id");
            if(document.getElementById("vehicle_id").value.length > 0) {
                //submit only when vehicle id is present
                document.getElementById("book_seat_form").submit();
            }
        });
    }
</script>
</html>
