<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="msapplication-tap-highlight" content="no">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="theme-color" content="black">

    <title>Transit</title>

    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">

    <link type="text/css" rel="stylesheet" href="/css/materialize_0_100_2.css">
    <link type="text/css" rel="stylesheet" href="/css/animate.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        @media only screen and (max-width: 990px) {
            html, body {
                background-color: #000000;
                color: #ffffff;
            }
        }
        @media only screen and (min-width: 992px) {
            html {
                background-image: url("/images/bg_ashoka.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
                color: #ffffff;
            }
        }

        th {
            text-align: center;
        }

        .card-padding {
            padding-top: 5% !important;
            padding-bottom: 5% !important;
        }

        .button-availability:hover {
            content: 'ADD';
        }
    </style>
</head>
<body>

    <nav class="navbar-fixed blue darken-4 z-depth-2 ">
        <div class="nav-wrapper">
            <a class="brand-logo"> &nbsp;Transit</a>
            <a data-activates="mobile-side-menu" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/user/vehicles/add">Add Vehicle</a></li>
                <li class="active"><a href="/user/bookings">My Bookings</a></li>
                <li><a href="/user/edit">My Profile</a></li>
                <li><a href="/user/vehicles">My Vehicles</a></li>
                <li><a href="/vehicles">See Available Bookings</a></li>
                <li><a href="/authentication/logout">Sign Out</a></li>
            </ul>
        </div>
    </nav>
    <ul class="side-nav black-text" id="mobile-side-menu">
        <li><a href="/user/vehicles/add">Add Vehicle</a></li>
        <li class="active"><a href="/user/bookings">My Bookings</a></li>
        <li><a href="/user/edit">My Profile</a></li>
        <li><a href="/user/vehicles">My Vehicles</a></li>
        <li><a href="/vehicles">See Available Bookings</a></li>
        <li><a href="/authentication/logout">Sign Out</a></li>
    </ul>
<main>
    <div class="section"></div>

    <div class="row animated bounceInDown">
        <div class="section hide-on-small-and-down"></div>
        <h4 class="center">My Bookings</h4>
        <div class="section hide-on-small-and-down"></div>

        <% if(typeof seatStatus != 'undefined'){
        if(seatStatus === "Cancelled"){
        %>
        <div class="col l10 m5 push-l1 s12 red center">
            <h5>Seat Cancelled</h5>
            <% }else if(seatStatus === "Added"){ %>
            <div class="col l10 m5 push-l1 s12 green center">
                <h5>Seat Added</h5>
                <% } %>
            </div>
            <div class="section"></div>
            <% } %>

            <div class="col l10 m5 push-l1 s12">
                <table class="center bordered responsive-table">
                    <thead>
                    <tr>
                        <td></td>
                        <td>Departure Place</td>
                        <td>Destination</td>
                        <td>Vehicle</td>
                        <td>Departure Date</td>
                        <td>Departure Time</td>
                        <td>Status</td>
                    </tr>
                    </thead>
                    <tbody>
                    <%
                    if(typeof vehicles != 'undefined'){
                        //loop1 iterates over vehicles, loop2 over passengers and prints each row corresponding to each booking

                        var departure_time = "", presentDate = new Date();
                        var newDateForTimeComparison = new Date('2000-11-11T'+presentDate.getHours()+':'+presentDate.getMinutes()+'Z');
                    for (var loop1 = 0; loop1 < vehicles.length; loop1++){
                        //preparing time format for the vehicle
                        if (String(vehicles[loop1].departure_time).length > 0) {
                            departure_time = new Date(vehicles[loop1].departure_time).toISOString().split("T")[1].split(":").slice(0, 2);
                            departure_time = String(departure_time).replace(",", ":");
                            //departure_time = vehicles[loop1].departure_time.getUTCHours() + " : " + vehicles[loop1].departure_time.getUTCMinutes();
                        }


                    for (var loop2 = 0; loop2 < vehicles[loop1].passengers.length; loop2++) {
                    if(vehicles[loop1].passengers[loop2].email === userMail){
                    %>
                    <tr>
                        <td class="center">
                            <%
                                //check if the date of the vehicle is today or later
                            if(vehicles[loop1].passengers[loop2].status !== "Cancelled" && presentDate < vehicles[loop1].departure_date){
                            %>
                            <a class="btn waves-effect waves-light red button-availability cancel-button"
                               data-vehicle-id="<%= vehicles[loop1]._id %>"
                               data-passenger-id="<%= vehicles[loop1].passengers[loop2]._id %>">Cancel</a>
                            <% }else if((vehicles[loop1].passengers[loop2].status !== "Cancelled") && (presentDate.toDateString() === vehicles[loop1].departure_date.toDateString())){

                                //if the date is same, don't print cancel button for time before 2 hours
                            if(Math.floor(Math.abs(newDateForTimeComparison-vehicles[loop1].departure_time)/36e5) >= 1){ //3600000 for converting into hours
                            %>
                            <a class="btn waves-effect waves-light red button-availability cancel-button"
                               data-vehicle-id="<%= vehicles[loop1]._id %>"
                               data-passenger-id="<%= vehicles[loop1].passengers[loop2]._id %>">Cancel</a>
                            <%
                            }
                            } %>
                        </td>
                        <td><%= vehicles[loop1].source %></td>
                        <td><%= vehicles[loop1].destination %></td>
                        <td><%= vehicles[loop1].vehicle_identification %></td>
                        <td><%= vehicles[loop1].departure_date.toDateString() %></td>
                        <td><%= departure_time %></td>
                        <td><%= vehicles[loop1].passengers[loop2].status %></td>
                    </tr>
                    <% } %>
                    <% } %>
                    <% } %>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        <form id="cancel_booking_form" method="post" action="/user/bookings/cancel">
            <input id="vehicle_id" name="vehicle_id" hidden>
            <input id="passenger_id" name="passenger_id" hidden>
        </form>

</main>
</body>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/materialize_0_100_2_min.js"></script>
<script>
    $(document).ready(function () {
        $(".button-collapse").sideNav();
    });
    var cancelButtons = document.getElementsByClassName("cancel-button");
    for (var loop1 = 0; loop1 < cancelButtons.length; loop1++) {
        cancelButtons[loop1].addEventListener("click", function () {
            document.getElementById("vehicle_id").value = this.getAttribute("data-vehicle-id");
            document.getElementById("passenger_id").value = this.getAttribute("data-passenger-id");

            if (document.getElementById("vehicle_id").value.length > 1 && document.getElementById("passenger_id").value.length > 1) {
                document.getElementById("cancel_booking_form").submit();
            }
        });
    }
</script>
</html>
