<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="msapplication-tap-highlight" content="no">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="theme-color" content="black">

    <title>Transit</title>

    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">

    <link type="text/css" rel="stylesheet" href="/css/materialize_0_100_2.css">
    <link type="text/css" rel="stylesheet" href="/css/animate.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        @media only screen and (max-width: 990px) {
            html, body {
                background-color: #000000;
                color: #ffffff;
            }
        }
        @media only screen and (min-width: 992px) {
            html {
                background-image: url("/images/bg_ashoka.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
                color: #ffffff;
            }
        }
        th {
            text-align: center;
        }

        .card-padding {
            padding-top: 5% !important;
            padding-bottom: 5% !important;
        }

        .button-availability:hover {
            content: 'ADD';
        }

        .modal {
            min-height: 100% !important;
            max-height: 100% !important;
        }
        .navbar-fixed {
            z-index: 999;
        }
    </style>
</head>
<body>
    <nav class="navbar-fixed blue darken-4 z-depth-2 ">
        <div class="nav-wrapper">
            <a class="brand-logo"> &nbsp;Transit</a>
            <a data-activates="mobile-side-menu" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/user/vehicles/add">Add Vehicle</a></li>
                <li><a href="/user/bookings">My Bookings</a></li>
                <li><a href="/user">My Profile</a></li>
                <li class="active"><a href="/user/vehicles">My Vehicles</a></li>
                <li><a href="/vehicles">See Available Seats</a></li>
                <li><a href="/authentication/logout">Sign Out</a></li>
            </ul>
        </div>
    </nav>
    <ul class="side-nav black-text" id="mobile-side-menu">
        <li><a href="/user/vehicles/add">Add Vehicle</a></li>
        <li><a href="/user/bookings">My Bookings</a></li>
        <li><a href="/user">My Profile</a></li>
        <li class="active"><a href="/user/vehicles">My Vehicles</a></li>
        <li><a href="/vehicles">See Available Seats</a></li>
        <li><a href="/authentication/logout">Sign Out</a></li>
    </ul>
<main>
    <div class="section"></div>

    <div class="row animated bounceInDown">
        <div class="section hide-on-small-and-down"></div>
        <h4 class="center">My Vehicles</h4>
        <div class="section"></div>

        <% if(typeof newVehicleProfile != 'undefined'){ %>
        <div class="col l10 m5 push-l1 s12 green center">
            <h5>Vehicle <%= newVehicleProfile.vehicle_identification %> added
                for <%= newVehicleProfile.departure_date.toDateString()%></h5>
        </div>
        <div class="section"></div>
        <% } %>
        <div class="col l10 m5 push-l1 s12">
            <table class="center bordered responsive-table">
                <thead>
                <tr>
                    <th> </th>
                    <th>Vehicle</th>
                    <th>Source</th>
                    <th>Destination</th>
                    <th>Departure date</th>
                    <th>Departure time</th>
                    <th>Seats</th>
                    <th>Price</th>
                    <th>Passengers</th>
                </tr>
                </thead>
                <tbody>
                <%
                if(typeof vehicles != 'undefined'){
                    var passengers = {}, departure_time = "";
                for(var loop1 = 0; loop1 < vehicles.length; loop1++){
                    if (String(vehicles[loop1].departure_time).length > 0) {
                        departure_time = new Date(vehicles[loop1].departure_time).toISOString().split("T")[1].split(":").slice(0, 2);
                        departure_time = String(departure_time).replace(",", ":");
                        //line below converts 11:00 to 11:0
                        //departure_time = vehicles[loop1].departure_time.getUTCHours()+" : "+vehicles[loop1].departure_time.getUTCMinutes();
                    }
                    //passengers[vehicles[loop1]._id] = new Array();
                    passengers[vehicles[loop1]._id] = vehicles[loop1].passengers;
                    //console.log(passengers[vehicles[loop1]._id][0].email+"========");
                    /*for (var loop2 = 0; loop2 < vehicles[loop1].passengers.length; loop2++) {
                        console.log(vehicles[loop1].passengers[loop2].email+"--------");
                        //console.log(passengers.vehicles[loop1]._id + "--------");
                    }*/
                %>
                <tr>
                    <!--<th><%/* loop1+1 */%></th>-->
                    <th><% if(vehicles[loop1].passengers.length === 0){%>
                        <a class="btn waves-effect waves-light red cancel-button"
                           data-vehicle-id="<%= vehicles[loop1]._id %>">Cancel</a>
                        <%}%>
                    </th>
                    <th><%= vehicles[loop1].vehicle_identification %></th>
                    <th><%= vehicles[loop1].source %></th>
                    <th><%= vehicles[loop1].destination %></th>
                    <th><%= vehicles[loop1].departure_date.toDateString() %></th>
                    <th><%= departure_time %></th>
                    <th><%= vehicles[loop1].total_seats %></th>
                    <!--<th><%/*vehicles[loop1].price */%></th>-->
                    <th>
                        <a href="#modal1"
                           class="blue darken-4 waves-effect waves-light btn modal-trigger view-passengers-button"
                           data-id="<%= vehicles[loop1]._id %>">View (<%= vehicles[loop1].passengers.length %>)</a>
                    </th>
                </tr>
                <% } %>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <div id="modal1" class="modal bottom-sheet modal-fixed-footer">
        <div class="modal-content black-text">
            <h4>Passengers</h4>
            <div class="container">
                <div class="row">
                    <div class="col s12 m5 push-m4">
                        <table class="center bordered">
                            <thody id="passengers_list_table">

                            </thody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">close</a>
        </div>
    </div>

    <form id="cancel_vehicle_form" method="post" action="/user/vehicles/remove">
        <input id="vehicle_id" name="vehicle_id" hidden>
    </form>

</main>
</body>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/materialize_0_100_2_min.js"></script>
<script>
    $(document).ready(function () {
        $(".button-collapse").sideNav();
        $('.modal').modal();

        var passengerEmails = [], passengerStatus = [], passengerBookingDate = [], passengerIds= [];
        <% for(var key in passengers){
            //key is same as data-id
            //console.log(passengers[key]);
            /*-----we have now-----
                    [ { _id: 5a27f0bb4920ab2cacac3106,
                        email: 'paras.bhattrai@ashoka.edu.in',
                        status: 'Confirmed',
                        date_booked: 2017-12-06T13:29:31.789Z },

                      { _id: 5a27f16c4920ab2cacac3108,
                        email: 'paras.bhattrai@ashoka.edu.in',
                        status: 'Confirmed',
                        date_booked: 2017-12-06T13:32:28.550Z } ]
            */

            //console.log(passengers[key].length);
        %>
        var ids=[];
        <% for(var loop2 = 0; loop2 < passengers[key].length; loop2++){ %>
        <%   //console.log(passengers[key][loop2])         %>
        /*
            { _id: 5a27f16c4920ab2cacac3108,
              email: 'paras.bhattrai@ashoka.edu.in',
              status: 'Confirmed',
              date_booked: 2017-12-06T13:32:28.550Z }
        * */


        ids.push('<%= passengers[key][loop2]._id %>');
        passengerEmails['<%= passengers[key][loop2]._id %>'] = '<%= passengers[key][loop2].email %>';
        passengerStatus['<%= passengers[key][loop2]._id %>'] = '<%= passengers[key][loop2].status %>'; //storing with respect to email ID
        passengerBookingDate['<%= passengers[key][loop2]._id %>'] = '<%= passengers[key][loop2].date_booked.toDateString() %>';
        /*console.log(passengerEmails['<- key >']);*/
        <% } %>
        passengerIds['<%= key %>'] = ids;
        <% } %>

        var viewPassengersButton = document.getElementsByClassName("view-passengers-button");
        for (var loop1 = 0; loop1 < viewPassengersButton.length; loop1++) {
            viewPassengersButton[loop1].addEventListener("click", function () {
                //data-id is same as vehicle-id
                //console.log(passengerIds[this.getAttribute("data-id")]); //array of ids
                //["paras.bhattrai@ashoka.edu.in", "paras.bhattrai@ashoka.edu.in", "paras.bhattrai@ashoka.edu.in"]
                var passengerOfThisVehicleIds = passengerIds[this.getAttribute("data-id")];
                if (passengerOfThisVehicleIds.length > 0) {
                    //preparing title
                    $("#passengers_list_table").html("<tr>" +
                        " <th>Sno</th>" +
                        " <th>Email</th>" +
                        " <th>Status</th>" +
                        "</tr>"
                    );
                } else {
                    $("#passengers_list_table").html("<br><b> No Passengers </b>");
                }
                for (var loop3 = 0; loop3 < passengerOfThisVehicleIds.length; loop3++) {
                    /*
                    //not to be deleted, for reference purposes--paras
                    console.log(passengerOfThisVehicleEmails[loop3]);
                    console.log(passengerStatus[passengerOfThisVehicleEmails[loop3]]);
                    console.log(passengerBookingDate[passengerOfThisVehicleEmails[loop3]]);
                    */
                    $("#passengers_list_table").append("<tr>" +
                        " <th>" + (loop3 + 1) + "</th>" +
                        " <th>" + escapeHtml(passengerEmails[passengerOfThisVehicleIds[loop3]]) + "</th>" +
                        " <th>" + escapeHtml(passengerStatus[passengerOfThisVehicleIds[loop3]]) + "</th>" +
                        "</tr>");
                }
            });
        }

        //for escaping html
        var entityMap = {
            '&': '&amp;',
            '<': '&lt;',
            '>': '&gt;',
            '"': '&quot;',
            "'": '&#39;',
            '/': '&#x2F;',
            '`': '&#x60;',
            '=': '&#x3D;'
        };
        function escapeHtml (string) {
            return String(string).replace(/[&<>"'`=\/]/g, function (s) {
                return entityMap[s];
            });
        }

        //for deleting vehicle
        var cancelButtons = document.getElementsByClassName("cancel-button");
        for (var loop4 = 0; loop4 < cancelButtons.length; loop4++) {
            cancelButtons[loop4].addEventListener("click", function () {
                document.getElementById("vehicle_id").value = this.getAttribute("data-vehicle-id");

                if (document.getElementById("vehicle_id").value.length > 1) {
                    document.getElementById("cancel_vehicle_form").submit();
                }
            });
        }
    });
</script>
</html>
